.container{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid var(--gray-200);

    input{
        border: none;
        outline: none;
        
        padding: 1rem ;
        width: 100%;

        color: var(--gray-800);
        font-size: 1rem;
        background: transparent;
    }

    svg{
        margin-left: 3rem;
    }
}
