:root {
  --white: #FFF;
  --light-blue: #4a93cf;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--white);
  font-size: 1rem;
  color: var(--gray-800)
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li{
  list-style: none;
}

* {
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

.pagination{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;

  li{
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 5px;

    &:hover:not(.active) {
      background-color: var(--gray-100);
      cursor: pointer;
    }
  }
}

.paginationLinkActive{
  background: var(--light-blue);
  color: var(--white);
}

@media (max-width: 600px) {
  .pagination {
    width: 50%;
  }
}

@media (max-width: 510px) {
  .pagination {
    li{
      display: none;
    }
    .previous , .next{
      display: block;
    }
  }
}
