.container {
  min-height: 100vh;
  padding: 1rem 6rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.containerSearch{
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  gap: 2rem;

  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  button{
    width: 100%;
    height: 3rem;
    
    background: var(--gray-500);
    color: var(--white);
    
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
  }

}

.containerLoading{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  img{
    margin-top: 0.3rem;
    height: 4rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
